epp/jsf-gui/src/main/resources/META-INF/wsdl/eTurmalina.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSIntegracao_RH" targetNamespace="br.com.abaco.folha" xmlns:wsdlns="br.com.abaco.folha" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="br.com.abaco.folha">
	<types>
		<schema targetNamespace="br.com.abaco.folha" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="WSIntegracao_RH.GETORGAOS">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETORGAOSResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETUNIDADESESETORES">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Id_orgao" type="xsd:int"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETUNIDADESESETORESResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETCARREIRASPORORGAO">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETCARREIRASPORORGAOResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETCARGOS">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Tipocargo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Descricao_pccs" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETCARGOSResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETPROGRESSAOFUNCIONAL">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Id_cargo" type="xsd:int"/>
						<element minOccurs="1" maxOccurs="1" name="Id_progressao" type="xsd:int"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETPROGRESSAOFUNCIONALResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETTIPOVINCULO">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETTIPOVINCULOResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETVINCULOS">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cpf" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Id_orgao" type="xsd:int"/>
						<element minOccurs="1" maxOccurs="1" name="Tipovinculo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETVINCULOSResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETDADOSSERVIDOR">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cpf" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Matricula" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datainicio" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Datafim" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETDADOSSERVIDORResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETDADOSSERVIDORMATRICULA">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Matricula" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSIntegracao_RH.GETDADOSSERVIDORMATRICULAResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Retorno" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="WSIntegracao_RH.GETORGAOSSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETORGAOS"/>
	</message>
	<message name="WSIntegracao_RH.GETORGAOSSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETORGAOSResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETUNIDADESESETORESSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETUNIDADESESETORES"/>
	</message>
	<message name="WSIntegracao_RH.GETUNIDADESESETORESSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETUNIDADESESETORESResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETCARREIRASPORORGAOSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETCARREIRASPORORGAO"/>
	</message>
	<message name="WSIntegracao_RH.GETCARREIRASPORORGAOSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETCARREIRASPORORGAOResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETCARGOSSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETCARGOS"/>
	</message>
	<message name="WSIntegracao_RH.GETCARGOSSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETCARGOSResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETPROGRESSAOFUNCIONALSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETPROGRESSAOFUNCIONAL"/>
	</message>
	<message name="WSIntegracao_RH.GETPROGRESSAOFUNCIONALSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETPROGRESSAOFUNCIONALResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETTIPOVINCULOSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETTIPOVINCULO"/>
	</message>
	<message name="WSIntegracao_RH.GETTIPOVINCULOSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETTIPOVINCULOResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETVINCULOSSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETVINCULOS"/>
	</message>
	<message name="WSIntegracao_RH.GETVINCULOSSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETVINCULOSResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETDADOSSERVIDORSoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETDADOSSERVIDOR"/>
	</message>
	<message name="WSIntegracao_RH.GETDADOSSERVIDORSoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETDADOSSERVIDORResponse"/>
	</message>
	<message name="WSIntegracao_RH.GETDADOSSERVIDORMATRICULASoapIn">
		<part name="parameters" element="tns:WSIntegracao_RH.GETDADOSSERVIDORMATRICULA"/>
	</message>
	<message name="WSIntegracao_RH.GETDADOSSERVIDORMATRICULASoapOut">
		<part name="parameters" element="tns:WSIntegracao_RH.GETDADOSSERVIDORMATRICULAResponse"/>
	</message>
	<portType name="WSIntegracao_RHSoapPort">
		<operation name="GETORGAOS">
			<input message="wsdlns:WSIntegracao_RH.GETORGAOSSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETORGAOSSoapOut"/>
		</operation>
		<operation name="GETUNIDADESESETORES">
			<input message="wsdlns:WSIntegracao_RH.GETUNIDADESESETORESSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETUNIDADESESETORESSoapOut"/>
		</operation>
		<operation name="GETCARREIRASPORORGAO">
			<input message="wsdlns:WSIntegracao_RH.GETCARREIRASPORORGAOSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETCARREIRASPORORGAOSoapOut"/>
		</operation>
		<operation name="GETCARGOS">
			<input message="wsdlns:WSIntegracao_RH.GETCARGOSSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETCARGOSSoapOut"/>
		</operation>
		<operation name="GETPROGRESSAOFUNCIONAL">
			<input message="wsdlns:WSIntegracao_RH.GETPROGRESSAOFUNCIONALSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETPROGRESSAOFUNCIONALSoapOut"/>
		</operation>
		<operation name="GETTIPOVINCULO">
			<input message="wsdlns:WSIntegracao_RH.GETTIPOVINCULOSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETTIPOVINCULOSoapOut"/>
		</operation>
		<operation name="GETVINCULOS">
			<input message="wsdlns:WSIntegracao_RH.GETVINCULOSSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETVINCULOSSoapOut"/>
		</operation>
		<operation name="GETDADOSSERVIDOR">
			<input message="wsdlns:WSIntegracao_RH.GETDADOSSERVIDORSoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETDADOSSERVIDORSoapOut"/>
		</operation>
		<operation name="GETDADOSSERVIDORMATRICULA">
			<input message="wsdlns:WSIntegracao_RH.GETDADOSSERVIDORMATRICULASoapIn"/>
			<output message="wsdlns:WSIntegracao_RH.GETDADOSSERVIDORMATRICULASoapOut"/>
		</operation>
	</portType>
	<binding name="WSIntegracao_RHSoapBinding" type="wsdlns:WSIntegracao_RHSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GETORGAOS">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETORGAOS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETUNIDADESESETORES">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETUNIDADESESETORES"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETCARREIRASPORORGAO">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETCARREIRASPORORGAO"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETCARGOS">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETCARGOS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETPROGRESSAOFUNCIONAL">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETPROGRESSAOFUNCIONAL"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETTIPOVINCULO">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETTIPOVINCULO"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETVINCULOS">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETVINCULOS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETDADOSSERVIDOR">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETDADOSSERVIDOR"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GETDADOSSERVIDORMATRICULA">
			<soap:operation soapAction="br.com.abaco.folhaaction/AWSINTEGRACAO_RH.GETDADOSSERVIDORMATRICULA"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WSIntegracao_RH">
		<port name="WSIntegracao_RHSoapPort" binding="wsdlns:WSIntegracao_RHSoapBinding">
			<soap:address location="http://10.1.5.50:28083/e-turmalina/servlet/awsintegracao_rh"/>
		</port>
	</service>
</definitions>
